---
import Layout from "../layouts/Layout.astro";
const posts = await Astro.glob("./post/*.mdx");
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<Layout title="Blog">
  <Header />
  <main class="h-min flex-1 my-2">
    <div class="grid lg:grid-cols-3 sm:grid-cols-1 md:grid-cols-2 gap-4 px-2">
      {
        posts.map((post) => {
          return (
            <a href={post.url} class="bg-neutral rounded p-4 space-y-2">
              <h1 class="text-xl">{post.frontmatter.title}</h1>
              <p class="text-base">{post.frontmatter.desc}</p>
              <div class="text-sm flex justify-end">
                {post.frontmatter.created}
              </div>
            </a>
          );
        })
      }
    </div>
  </main>
  <Footer />
</Layout>

<style></style>
