---
import { Home } from "../components/Home";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="My name HeStudy">
  <Header />
  <main class="h-0 flex-1 my-2">
    <Home />
  </main>
  <Footer />
</Layout>

<style></style>
