<footer
  class="flex flex-col text-sm text-base-content py-2 justify-center items-center"
>
  <p>Created based on Astro v2.1.9 | Started on 2023.04.05</p>
  <p>基于{Astro.generator}创造 | 始于2023.04.05</p>
</footer>
